<div class=" content">
    <div class=" row">
      <div class=" col-md-6">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Entity Type Specific</h4>
          </div>
          <div class=" card-body">
            
            
            <ul style = "list-style-type: none; padding: 0; margin: 0; ">
            <li >
              <input type="checkbox" name = "CFC951AHTE">
              <label for="CFC951AHTE">CFC 951A High Tax Election OFF  </label>
            
              
            </li>
        </ul>
          </div>
        </div>
      </div>
      <div class=" col-md-6">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">All Entities</h4>
          </div>
          <div class=" card-body">
            <p>hi</p>
          </div>
        </div>
      </div>




      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-body">
            
                <!-- <table class=" table tablesorter" id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>Attribute Name</th>
                        <th>Attribute Value</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>Entity Type</th>
                        <th>Scenario Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let da of defaultAttributes">
                        <td>{{da.attribute_name}}</td>
                        <td>{{da.attribute_value}}</td>
                        <td>{{da.begin_date | date}}</td>
                        <td>{{da.end_date | date}}</td>
                        <td>{{da.entity_type}}</td>
                        <td>{{da.scenario}}</td>
                        
                        <ng-template #notMissing>
                          <td>-</td>
                        </ng-template>
                      </tr>
                    </tbody>
                    
                  </table> -->
                
                  <ag-grid-angular style="height: 80vh;" class="ag-theme-alpine" [columnDefs]="columnDefs"
                  [defaultColDef]="defaultColDef" [rowData]="rowData"
                  (cellValueChanged)="onCellValueChanged($event)" (gridReady)="onGridReady($event)"
                  [pagination]="true">
                 </ag-grid-angular>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  