<div class="content">
    
  <ng-template #loading let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Importing data...</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')"><i
            class="tim-icons icon-simple-remove"> </i></button>



      </div>

      
        <div class="modal-body">




          <p *ngIf="importComplete == true">
            Successfully Imported {{logData["Success"].length}} rows
          </p>



        </div>
        

    </div>

  </ng-template>






    <div class="container" *ngIf="showImport">

        <div class=" row">
            <div class=" col-sm-6 text-left">
                <h2 >Import Tables</h2>
                <input type="file" appReadexcel (eventEmitter)="DataFromEventEmitter($event)" />

            </div>
            <div class=" col-sm-6 text-right">
                <button class="btn btn-group" (click)="[submitClicked(),open(loading)]" [disabled]="disableButton">
                    Submit
                </button>

            </div>

        </div>

    </div>

    <div class="container" *ngIf ="showTable">
        <table class=" table tablesorter" id="">
            <thead class=" text-primary">
              <tr>
                <th>Table</th>
                <th>Rows</th>
                <th>Included</th>
                <th>Missing Columns</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let n of sheetInfo.keys()">
                <td>{{n}}</td>
                <td>{{sheetInfo.get(n).rowCount}}</td>
                <td>{{sheetInfo.get(n).included}}</td>
                <td *ngIf="sheetInfo.get(n).missingColumns.length>0;else notMissing">
                    <a 
                        active
                        placement="end"
                        [ngbPopover]="sheetInfo.get(n).missingColumns"
                        popoverTitle="Missing Columns:"
                    >
                        {{sheetInfo.get(n).missingColumns.length}}
                    </a>
                </td>
                <ng-template #notMissing>
                  <td>-</td>
                </ng-template>
              </tr>
            </tbody>
            
          </table>
    </div>
    <div class = "container" *ngIf = "showLog">
      <div class=" row">
        <div class=" col-sm-6 text-left">
            <h2 >Import Log</h2>
           

        </div>
        

    </div>
      <ul style = "list-style-type: none; padding: 0; margin: 0; ">
        <li>
          <a href="javascript:;" routerLinkActive="active" (click)="showSuccess= !showSuccess" >Successful Import Rows: {{logData["Success"].length}}</a>
          <ul style = "list-style-type: none; padding: 0; margin: 0; "
              *ngIf = "showSuccess">
              <li *ngFor="let l of logData['Success']" style ="color:green">
                
                {{l["log_text"]}}
              </li>
          </ul>
        </li>
        <li >
          <a href="javascript:;" routerLinkActive="active" (click)="showMessage=!showMessage" >Imports Messages: {{logData["Message"].length}}</a >
          <ul style = "list-style-type: none; padding: 0; margin: 0; "
            *ngIf = "showMessage">
            <li *ngFor="let l of logData['Message']">{{l["log_text"]}}</li>
          </ul>
        </li>
        <li >
          <a href="javascript:;" routerLinkActive="active" (click)="showErrors= !showErrors" >Import Errors: {{logData["Errors"].length}}</a>
          <ul style = "list-style-type: none; padding: 0; margin: 0; "
            *ngIf = "showErrors">
            <li *ngFor="let l of logData['Errors']" style ="color:red">
              {{l["log_text"]}}
            </li>
          </ul>
        </li>
      </ul>

    </div>

</div>