


<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-nav-tabs">

        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-4 text-left">
              


              <h2 class=" card-title">For Period(s) {{period}} </h2>
              
            </div>
            <div class = "col-sm-4 left">
              <h2 class=" card-title">From {{period_start|date}} to {{period_end|date}}</h2>

            </div>
            <div class = "col-sm-4 left">
              <span class=" nav-item" ngbDropdown>
                <button class="btn btn-secondary dropdown-toggle" type="button" aria-haspopup="true"data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
                  Select Table
                </button>
                <ul class=" dropdown-navbar" ngbDropdownMenu>
                  <li class=" nav-link" *ngFor="let table of tableList">
                    <a class=" nav-item" href="javascript:void(0)" (value)="table" (click)="pullTable(table)"ngbDropdownItem >
                      {{table}}
                    </a>
                 
                </ul>
              </span>
            
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <ng-template #updates let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Saving...</h4>
        <button type="button" class="close" (click)="[modal.dismiss('Cross click')]"><i
            class="tim-icons icon-simple-remove"> </i></button>



      </div>

     
        <div class="modal-body">

          <p *ngIf="saveComplete == false">Pushing updates to database...</p>
          <p *ngIf="saveComplete == true">Updated {{updatedRows}} rows</p>

          


        </div>
        

    </div>

  </ng-template>


  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h2 class=" card-title">{{currentTableName}}</h2>
          <button class = "btn btn-primary" [disabled]="disableSave" (click)="[onSave(), open(updates)]">Save</button>
          <button class = "btn btn-secondary" style ="color:white" (click)="[createNewRowData()]">Add row</button>
          <button class = "btn btn-danger" [disabled]="disableDelete" (click)="[onRemoveSelected()]">Delete row</button>
          <button class = "btn btn-light" (click)="[onBtnExport()]">Export Table</button>
        </div>
        <div class=" card-body">
          <!-- <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr >
                  <th *ngFor="let h of currentTableHeaders">{{h}}</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of currentTable">
                  <td *ngFor="let h of currentTableHeaders">{{r[h]}}</td>
                  
                </tr>
                
              </tbody>
            </table>
          </div> -->
          <ag-grid-angular
          style="height: 80vh;"
          class="ag-theme-alpine"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [rowData]="rowData"
          (cellValueChanged)="onCellValueChanged($event)"
          (gridReady)="onGridReady($event)"
          [pagination]="true"
          (selectionChanged)="onSelectionChanged($event)"
          rowSelection="multiple"
    
        >
        </ag-grid-angular>
        </div>
      </div>
    </div>
   
  </div>
</div>
